[submodule "examples/swe-agent/nemo-gym"]
	path = examples/experimental/swe-agent/nemo-gym
	url = https://github.com/yueming-yuan/Gym
	branch = miles-swe-agent
[submodule "examples/swe-agent/mini-swe-agent"]
	path = examples/experimental/swe-agent/mini-swe-agent
	url = https://github.com/yueming-yuan/nv-mini-swe-agent
	branch = miles-swe-agent
[submodule "third_party/sglang"]
	path = third_party/sglang
	url = git@github.com:sgl-project/sglang.git
	branch = sglang-miles
[submodule "third_party/Megatron-LM"]
	path = third_party/Megatron-LM
	url = git@github.com:radixark/Megatron-LM.git
	branch = miles/move-plugins-to-miles
